.login-page {
    display: flex;
    flex-direction: column;
    background-color: #d8d8d8;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-box {
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;

}

.login-title {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}